{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">About Dili</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/sunset_city.jpg') }}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/sunset_city.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/sunset_city.jpg') }}" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1363">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/cocoon.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/cocoon.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/cocoon.jpg') }}" alt="people" width="605868" height="690">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Dili - Capital of Timor Leste</h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    • Dili is the capital of the youngest countries in the world, Timor-Leste.
                </li>
                <li class="cs-li">
                    • Houses half of the urban population (15% of Timor’s entire population). 
                </li>
                <li class="cs-li">
                    • As of 2020, the adult literacy rate is 69.9% (below the world average of 86.81%).
                </li>
                <li class="cs-li">
                    • 42% of the Timor population lives below the national poverty line (one of the poorest countries in the world).
                </li>
                <li class="cs-li">
                    • Although Timor is predominantly Catholic (98%), many are Catholic by name only. They attend mass, but nonetheless still practice animal and nature worship. 
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Their Needs
                    </h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            • Education and employment prospects are elusive to the Timorese, rendering them stuck in a cycle of poverty. 
                        </li>
                        <li class="cs-li">
                            • Flooding issues have left Cocoon with an urgent need of raising funds to flood-proof their school compound.
                        </li>
                        <li class="cs-li">
                            • This young and spiritually scarred country is in great need of prayer for a national transformation
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="javascript:void(0);" onclick="openInNewTab('https://www.cocoontimor.org/')" class="cs-button-solid">Discover More About Cocoon</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                
                                

{% endblock %}