{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
{% endblock %}

{% block body %}
                                              
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Project Diliverance 2023</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/event_banner.jpg') }}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/event_banner.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/event_banner.jpg') }}" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
       
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_2.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_2.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_2.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_1.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">How It Started</span>
            <h2 class="cs-title">The Call To Missions</h2>
            <p class="cs-text">
                An open call to embark on a mission trip to Timor Leste stirred a desire in our hearts to go out to the nations
                - to reach out to the lost and the broken, and share the love of Christ.
                <br><br> 
                At first, each of us was hesitant.
                <br><br>
                 "What if I end up going alone? What if I don't have the time or resources?""
                <br><br>
                But what we didn't know was that God was already at work in the hearts of our friends, family and church community. 
                We were encouraged by each other's desire to go into the mission field, 
                as well as God's providence through the cheerful giving of friends and family, and it soon became clear that He was calling us to go together as a missional cell group.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_3.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_3.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_3.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_4.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_4.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_4.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Mission Field</span>
            <h2 class="cs-title">Bringing Joy To The Village Children</h2>
            <p class="cs-text">
                We accompanied Cocoon's Youth Club for their monthly Boots on the Ground Programme, which involved engaging with the children in the village children through simple games, song and dance.
                <br><br>
                "One of the highlights of this programme was the simple skit of the Parable of the Lost Sheep, which pulled at our heartstrings when we saw the pure joy and excitement on the faces of the children in the audience.
                Though it was a very simple skit, it was a powerful reminder to the village children that Jesus loves each and every one of us. If one of us goes astray, Jesus will search for us, until His lost child finally returns home."
                <br>
                - Jaden
            </p>
            <p class="cs-text">
                "When we met some of the Cocoon youth and teachers to rehearse for the Boots programme, what struck me was their singing with such loud voices about God's blessings.
                Their voices were filled with such love and adoration for the Lord and this really impacted me as it made me think about how I have been blessed with much more than them,
                yet sometimes I am guilty of worshipping God with much less than them."
                <br>
                - Arielle
            </p>
        </div>
    </div>
</section>

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_6.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_6.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_6.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_5.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_5.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_5.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Missions Field</span>
            <h2 class="cs-title">Celebrating Christmas with the Youth & Kids Clubs</h2>
            <p class="cs-text">
                Over the course of four days, we had our Cocoon Christmas Programmes in full swing. 
                This involved engaging the youths and kids through games and crafts, 
                connecting with their families during over meals, and even leading the youths in a time of worship.
                <br><br>
                "Prior to the actual programme, one of the Cocoon youths joined us during our worship rehearsals.
                At first, it was difficult due to the language barrier between us. 
                However, as we began practising the song "Still" in Tetum, we found ourselves worshipping God joyfully together. 
                This reminded me of how people of different nations and languages will come together to worship God as one body in Christ in the kingdom of heaven."
                <br>
                - Khanh
            </p>
            <p class="cs-text">
                "Our preparation for the Christmas programme involved setting up a sheltered outdoor area. 
                Some of us had to climb up the roof to set up the green taurpalin, and the Cocoon staff set up an unstable, wooden platform to serve as our stage.
                During the worship session itself, I was amazed to see the youths worshipping so joyfully under the hot sun and on the rocky ground.
                This was such a stark contrast to the air-conditioned sanctuary and our advanced sound systems back home,
                and I felt like I had always taken these things for granted. 
                God had already provided us with so much, and I wanted to learn to worship as joyfully as them under any circumstance."
                <br>
                - Keiko
            </p>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_7.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_7.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_7.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_8.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_8.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_8.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Missions Field</span>
            <h2 class="cs-title">Fellowshipping with the Cocoon Team</h2>
            <p class="cs-text">
                We treated the Cocoon staff to a meals at Dili's local restaurants, which gave us the opportunity to learn more about their lives and their spiritual journeys.
                <br><br>
                "I was able to interact with one of the teachers, and I learned about how he had to change his job from being a cleaner to a Kindy teacher. 
                He shared that this took a lot of courage as males who served in childcare roles were often looked down upon in Timor Leste.
                However, he felt that God was calling him to this role, and he was willing to take the risk to serve God in this way.
                This made me reflect on how I also needed to have the courage to allow God to be the center of my life"
                <br>
                - Justin
            </p>
            <p class="cs-text">
                "What spoke to me was how young the leaders were, and yet they were stepping up to go out and share about Jesus.
                Despite their young age and the persecution of Christians in Timor, they were courageous enough to become missionaries to the children of the villages.
                This served as a reminder for me to have more courage too, to step out of my boundaries to share God's love, and to not be scared just because I am young
                and a less 'mature' Christian compared to my pastors and CGLs. I felt God reassuring me that I do not have to be the 'perfect' Christian
                to be a missionary; that every fear that I have about missions ca be overcome if I draw on His courage and His love"
                <br>
                - Ruth
            </p>
        </div>
    </div>
</section> 

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_9.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_9.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_9.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_16.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_16.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_16.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Missions Field</span>
            <h2 class="cs-title">Heading Into The Mountain Village, Remexio</h2>
            <p class="cs-text">
                On our last day in Timor, we took a 1.5 hour drive up the mountains to visit the village of Remexio. 
                Once again, we engaged the village children with games, and afterwards we felt led to conduct a prayer walk around the village.  
                <br><br>
                "While we were travelling up the mountain, one of the Cocoon youth had motion sickness from the ride. She was feeling really unwell, yet she did not complain.
                Instead, she worshipped God while the worship songs played in the car. She then looked up, saw the mountains and said, "Look at the mountains, they are huge. God created all of thes, yet He loves such a small human like me. How is that even possible?" 
                I got reminded of how wide God's love is, and that there is nothing that can ever separate us from His love."
                <br>
                - Joyce
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-404" style="padding-top: 10px;">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Gallery</span>
                <h2 class="cs-title">Check Out Some Of Our Photos!</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    Group Photos
                </button>
                <button class="cs-button" data-filter="two">
                    Fellowship
                </button>
                <button class="cs-button" data-filter="three">
                    Outside Cocoon
                </button>
                <button class="cs-button" data-filter="four">
                    Bonding Activities
                </button>
                <button class="cs-button" data-filter="five">
                    Other Moments
                </button>
            </div>
        </div>
        <div class="cs-gallery-wrapper">
            <!--Gallery 1-->
        <div class="cs-gallery" data-category="one">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_10.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_10.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_10.jpg') }}" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_11.jpg') }}>
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_11.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_11.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_12.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_12.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_12.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_13.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_13.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_13.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_14.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_14.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_14.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_15.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_15.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_15.jpg') }}" alt="gallery" width="630" height="400">
            </picture>
        </div>
        <!--Gallery 2-->
        <div class="cs-gallery cs-hidden" data-category="two">
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/fellowship_1.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/fellowship_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/fellowship_1.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/fellowship_2.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/fellowship_2.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/fellowship_2.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/fellowship_3.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/fellowship_3.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/fellowship_3.jpg') }}" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/fellowship_4.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/fellowship_4.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/fellowship_4.jpg') }}" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/fellowship_5.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/fellowship_5.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/fellowship_5.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/fellowship_6.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/fellowship_6.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/fellowship_6.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 3-->
        <div class="cs-gallery cs-hidden" data-category="three">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/out_1.JPG') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/out_1.JPG') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/out_1.JPG') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/out_2.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/out_2.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/out_2.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/out_3.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/out_3.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/out_3.jpg') }}" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/out_4.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/out_4.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/out_4.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/out_5.JPG') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/out_5.JPG') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/out_5.JPG') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/out_6.JPG') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/out_6.JPG') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/out_6.JPG') }}" alt="gallery" width="630" height="400">
            </picture>
        </div>
        <!--Gallery 4-->
        <div class="cs-gallery cs-hidden" data-category="four">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/bonding_1.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/bonding_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/bonding_1.jpg') }}" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/bonding_2.JPG') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/bonding_2.JPG') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/bonding_2.JPG') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/bonding_3.JPG') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/bonding_3.JPG') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/bonding_3.JPG') }}" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/bonding_4.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/bonding_4.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/bonding_4.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/bonding_5.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/bonding_5.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/bonding_5.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/bonding_6.JPG') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/bonding_6.JPG') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/bonding_6.JPG') }}" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 5-->
        <div class="cs-gallery cs-hidden" data-category="five">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/other_1.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/other_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/other_1.jpg') }}" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/other_2.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/other_2.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/other_2.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/other_3.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/other_3.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/other_3.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/other_4.JPG') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/other_4.JPG') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/other_4.JPG') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/other_5.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/other_5.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/other_5.jpg') }}" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/other_6.jpg') }}">
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/other_6.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/other_6.jpg') }}" alt="gallery" width="630" height="400">
            </picture>
        </div>
        </div>
    </div>
</section>
                                
<script>
    class CS_GalleryFilter {
	filtersSelector = '.cs-button';
	galleriesSelector = '.cs-gallery';
	activeClass = 'cs-active';
	hiddenClass = 'cs-hidden';

	constructor() {
		this.$galleries = document.querySelectorAll(this.galleriesSelector);
		const $filters = document.querySelectorAll(this.filtersSelector);

		this.onClick($filters[0]);

		for (const $filter of $filters) {
			$filter.addEventListener('click', () => this.onClick($filter));
		}
	}

	onClick($filter) {
		this.filter($filter.dataset.filter);

		const { activeClass } = this;

		this.$activeFilter?.classList.remove(activeClass);
		$filter.classList.add(activeClass);

		this.$activeFilter = $filter;
	}

	filter(filter) {
		const showAll = filter == 'all';
		const { hiddenClass } = this;

		for (const $gallery of this.$galleries) {
			const show = showAll || $gallery.dataset.category == filter;
			$gallery.classList.toggle(hiddenClass, !show);
		}
	}
}

new CS_GalleryFilter();
                                
</script>

{% endblock %}