{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-229">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">Supporting Cocoon's Mission to Change Lives Through Education</span>
            <h1 class="cs-title">Project Diliverance</h1>
            <p class="cs-text">
                "For we are his workmanship, created in Christ Jesus for good works, which God prepared beforehand, that we should walk in them."<br> 
                Ephesians 2:10
            </p>
            <div class="cs-button-group">
                <a onclick="location.href='#about-project-diliverance'" class="cs-button-solid cs-button">Explore More</a>
                <a href="donate" class="cs-button-transparent cs-button">
                    <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17" height="17">
                    Support Us
                </a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/home_cover.jpg') }}">
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/home_cover.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/home_cover.jpg') }}" alt="mountains" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1161">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/we_are_back_2.JPG')}}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/we_are_back_2.JPG') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/we_are_back_2.JPG') }}" alt="appliance" width="630" height="390">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/we_are_back.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/we_are_back.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/we_are_back.jpg') }}" alt="appliance" width="461" height="300">
            </picture>
            <!--Splash Graphic-->
            <img class="cs-graphic cs-graphic1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/splash-4.svg" alt="splash" width="1154" height="505" aria-hidden="true">
            <!--Tire Mark-->
            <img class="cs-graphic cs-graphic2" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="tire mark" width="1085" height="322" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">We Are Back!</span>
            <h2 class="cs-title">Project Diliverance Returns In 2025</h2>
            <p class="cs-text">
                Missional work goes beyond delivering services—it’s about nurturing the kingdom relationships we’ve built with the local community. 
                <br><br>
                Project Diliverance in 2025 returns with another trip to Dili from <b>June 3 to 10</b>, where we will be continuing our work with the children and youth of Cocoon and Remexio. 
                Our mission also extends to empowering young adults by providing vocational training, helping them establish self-reliant, sustainable livelihoods.
            </p>
            <a href="donate" class="cs-button-solid">Support Us</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  About                       -->
<!-- ============================================ -->

<section id="about-project-diliverance">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Loving Our Neighbours</span>
                <h2 class="cs-title">What is Project Diliverance?</h2>
            </div>
            <p class="cs-text">
                Project Diliverance is a youth-led mission trip to Dili, Timor Leste, in support of Cocoon's mission to change lives through education. Our trip included fun-filled activities such as games, dances, and skits, as well as the sharing of our personal testimonies, and small group prayer sessions, which culminated in a Christmas event for the children and youth. 
                <br><br>
                Through Project Diliverance, we seek to connect with and show love to the local children and youth, for we were first loved by the Father and have been commanded to "love your neighbour as yourself" (Matthew 22:39).
            </p>
        </div> 
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Bringing Joy to the Village Children</h3>
                        <p class="cs-item-text">
                            Together with Cocoon's Youth Leaders, we paid visits to the village children of Dili and Remexio, where we engaged them in fun outdoor games, song and dance.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Celebrating Christmas with the Youth & Kids Clubs</h3>
                        <p class="cs-item-text">
                            We connected with the children and youth of Cocoon through lively games, colourful crafts, and skits of Bible stories. 
                            Our session with the Youth Club also involved a time of heartfelt worship, where we sang songs of praise in both English and Tetum, the local language.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Fellowshipping with the Cocoon Staff</h3>
                        <p class="cs-item-text">
                            Our meals were dedicated to fellowship with the staff of Cocoon, where we learned more about each other's lives, cultures and experiences, 
                            and exchanged stories of our spiritual journeys.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="cs-image-group">
                <div class="cs-picture-wrapper">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/about_diliverance_1.jpg') }}">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/about_diliverance_1.jpg') }}">
                        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/about_diliverance_1.jpg') }}" alt="meeting" width="434" height="414">
                    </picture>
                </div>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/about_diliverance_2.jpg') }}">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/about_diliverance_2.jpg') }}">
                    <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/about_diliverance_2.jpg') }}" alt="on computer" width="197" height="197">
                </picture>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     Banner                   -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Find Out More About Project Diliverance 2023</h2>
            <a href="events" class="cs-button-solid">Let's Go!</a>
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="{{ url_for('static', filename='images/about_diliverance_banner.jpg') }}" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>
                                

<!-- ============================================ -->
<!--                    Dili                      -->
<!-- ============================================ -->

<section id="gallery-1716">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Dili, Timor Leste</span>
            <h2 class="cs-title">Where is Dili?</h2>
            <!--If you remove the cs-text, the rectangle shape will disappear.  If you need to remove it, transfer the :before and .cs-text:last-of-type styles to the cs-title on mobile and desktop-->
            <p class="cs-text">
                Find out more about the needs of Dili, the capital of Timor Leste.
            </p>
            <a href="aboutdili" class="cs-button-solid">Where Again?</a>
        </div>
        <div class="cs-gallery">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                    srcset="{{ url_for('static', filename='images/where_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                    srcset="{{ url_for('static', filename='images/where_1.jpg') }}">
                <img loading="lazy" decoding="async"
                    src="{{ url_for('static', filename='images/where_1.jpg') }}" alt="picture"
                        width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                    srcset="{{ url_for('static', filename='images/where_3.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                    srcset="{{ url_for('static', filename='images/where_3.jpg') }}">
                <img loading="lazy" decoding="async"
                    src="{{ url_for('static', filename='images/where_3.jpg') }}" alt="picture"
                        width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                    srcset="{{ url_for('static', filename='images/where_2.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                    srcset="{{ url_for('static', filename='images/where_2.jpg') }}">
                <img loading="lazy" decoding="async"
                    srcset="{{ url_for('static', filename='images/where_2.jpg') }}" alt="picture"
                        width="480" height="549">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Team                        -->
<!-- ============================================ -->

<section id="reviews-57">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/cg_1.jpg') }}">
            <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/cg_1.jpg') }}">
            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ url_for('static', filename='images/cg_1.jpg') }}" alt="man smiling" width="320" height="340">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Introducing The Team</span>
            <h2 class="cs-title">Who Are We?</h2>
            <p class="cs-text">
                Behind the team of youths embarking on the mission trip is a fun-loving cell group that has grown up together over the years. 
                Each of us is committed to supporting this trip in prayer and preparation, even as the team prepares to step into the mission field.
            </p>
            <p class="cs-review">
                "As you come to him, the living Stone — rejected by humans but chosen by God and precious to him — you also, like living stones, are being built into a spiritual house 
                to be a holy priesthood, offering spiritual sacrifices acceptable to God through Jesus Christ"
                <span class="cs-name">1 Peter 2:4-5</span>
            </p>
            <a href="meettheteam" class="cs-button-solid">Read Our Testimonies</a>
        </div>
    </div>
</section>

{% endblock %}                                
