{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Introducing The Team</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/sunset_team.jpg') }}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/sunset_team.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/sunset_team.jpg') }}" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
        
<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1946">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">A Community of Young Adults, Growing Together In Christ</h2>
            <div class="cs-flex">
                <p class="cs-text">"As you come to him, the living Stone — rejected by humans but chosen by God and precious to him — you also, like living stones, are being built into a spiritual house 
                    to be a holy priesthood, offering spiritual sacrifices acceptable to God through Jesus Christ"
                    <br><br><span class="cs-name">1 Peter 2:4-5</span></p>
            </div>
        </div>
        <picture class="cs-picture">
            <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/cg.jpg') }}">
            <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/cg.jpg') }}">
            <img decoding="async" src="{{ url_for('static', filename='images/cg.jpg') }}" alt="construction site" width="1280" height="510">
        </picture>
    </div>
    <div style="padding: 20px;"></div>
    <section id="reviews-1739">
        <div class="cs-container">
            <div class="cs-content">
                <p class="cs-text" style="max-width: fit-content; text-align: left;"> 
                    Our cell group was officially formed in 2020, during the COVID-19 pandemic. 
                    Despite the initial challenges of meeting online, we have been blessed by God's faithfulness in holding our community together, 
                    the patience that He has given us to love and serve one another, and the desire he has stirred in our hearts to walk alongside each other in our spiritual journeys. 
                    <br><br>
                    Today, we have grown to become one family in Christ that is dedicated to become "living stones" - to form the foundation of the church as we
                    venture out into various communities to share the gospel and fulfil the Great Commission to "go and make disciples of all nations" (Matthew 28:19).
                    <br><br>
                    Through Project Diliverance, we are excited to be able to serve the people of Dili, to share the love of Christ with them, 
                    and to learn how we can continue to grow in our walks with God.
                </p>
            </div>
        </div>
    </section>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="reviews-1739">
    <div class="cs-container">
        <div class="cs-content">
        <span class="cs-topper">Testimonies</span>
        <h2 class="cs-title">How has God spoken to you through Project Diliverance 2023?</h2>
    </div>
</section>

<section id="RTsbs-249">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/keiko.jpg') }}">
            <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/keiko.jpg') }}">
            <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/keiko.jpg') }}" alt="hiker" width="434" height="434" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Goer, Worship Team</span>
            <h2 class="cs-title">Keiko Ang</h2>
            <p class="cs-text">
                Despite having been to Indonesia countless times to visit my extended family, I was still taken aback by the harsh living conditions of Timor Leste. 
                Electricity blackouts were common, hot water was a luxury, and the abundance of cockcroaches kept me constantly on my toes due to my terrible fear of insects. 
                <br><br> However, what really stood out to me and challenged my faith was the resilience of the Timorese in serving God and His people, and to worship Him joyfully amidst these circumstances.
                If I had been put in the same circumstances as them - facing persistent, violent persecution for my faith - would I still have been able to worship God with that same passion?
                How can I learn to be more grateful for what God has blessed me with back in Singapore - to be more willing to serve Him joyfully with these gifts?
            </p>
        </div>
    </div>
</section>

<section id="RTsbsr-249">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/khanh.jpg') }}">
            <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/khanh.jpg') }}">
            <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/khanh.jpg') }}" alt="hiker" width="434" height="434" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Goer, Worship Team</span>
            <h2 class="cs-title">Khanh Bui</h2>
            <p class="cs-text">
                Growing up in a rural mountainous area of Vietnam, I understand the plight of those who grow up in poverty, but I was blessed to be born into a Christian family, and to be able to know about God. 
                I know that many in Timor-Leste are not as fortunate. 
                <br><br> During my trip there, I saw firsthand the struggles they face—not just physically, but spiritually. The lack of exposure to the gospel is one of their greatest challenges.
                God’s love has been such a source of strength in my life, and I feel a deep conviction to share that same love with the people of Timor-Leste, especially the children there. God has called me to be a "goer," not just to observe but to truly learn, connect, and share His word.
                <br><br> This trip has really strengthened my desire to bring hope and the gospel to those who haven’t yet heard it. I want to show them the love of God that I’ve been so blessed with, and to walk alongside them in their journey toward Him.
            </p>
        </div>
        <!-- Creates the faded lines on tablet -->
        <span aria-hidden="true" class="cs-lines"></span>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/khanh_background.jpg') }}">
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/khanh_background.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/khanh_background.jpg') }}" alt="mountains" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>    


<section id="RTsbs-249">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/kyra.jpg') }}">
            <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/kyra.jpg') }}">
            <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/kyra.jpg') }}" alt="hiker" width="434" height="434" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Sender, Fundraising Team</span>
            <h2 class="cs-title">Kyra Teo</h2>
            <p class="cs-text">
                As a CG, we were encouraged to simply stay in Singapore and support our friends who were going. Many of us chipped in to help with fundraising. We designed tote bags and shirts to sell, set up a website, and simply prayed for our friends going to Timor.
                <br><br>
                Through fundraising, we raised more than we expected with so little time. We excitedly gave this to the ministry in Timor in support of their upcoming building project. God’s wonderful grace to both senders and goers opened my spiritual eyes to see how great a privilege it was to partner Him in missions — senders and goers alike.  
                <br><br>
                As senders, we saw His generous provision through fundraising. The goers came back re-energised and excited to serve God — with an energy I’d never seen before. This trip revealed to me the beauty of partnering God in missions. As much as we sought to bless the people of Timor, He blessed us through them even more.
            </p>
        </div>
    </div>
</section>

{% endblock %}
