<!DOCTYPE html>
    <html>
    <header id="cs-navigation">
        <div class="cs-container">
            <!--Nav Logo-->
            <a href="" class="cs-logo" aria-label="back to home">
                <img src="/static/images/Project_Diliverance.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
            </a>
            <!--Navigation List-->
            <nav class="cs-nav" role="navigation">
                <!--Mobile Nav Toggle-->
                <button class="cs-toggle" aria-label="mobile menu toggle">
                    <div class="cs-box" aria-hidden="true">
                        <span class="cs-line cs-line1" aria-hidden="true"></span>
                        <span class="cs-line cs-line2" aria-hidden="true"></span>
                        <span class="cs-line cs-line3" aria-hidden="true"></span>
                    </div>
                </button>
                <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
                <div class="cs-ul-wrapper">
                    <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                        <li class="cs-li">
                            <a href="home" class="cs-li-link">
                                Home
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="aboutdili" class="cs-li-link">
                                About Dili
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="events" class="cs-li-link">
                                Events
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="meettheteam" class="cs-li-link">
                                Meet The Team
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <a href="donate" class="cs-button-solid cs-nav-button">Support Us</a>
        </div>
    </header>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
        <title>Project Diliverance</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='donate.css') }}">
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

                                                
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-712">
        <div class="cs-container">
            <span class="cs-int-title">Donations</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/sunset_team.jpg') }}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/sunset_team.jpg') }}">
            <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/sunset_team.jpg') }}" alt="pills" width="1280" height="568" aria-hidden="true">
        </picture>
    </div>
  
  <section class="donation-card">
    <div class="qr-wrapper">
      <img 
        id="dynamic-qr"
        loading="lazy"
        decoding="async"
        src="{{ url_for('static', filename='images/paynow.jpg') }}"
        alt="Donation QR Code"
      >
    </div>
  
    <div class="text-content">
      <h2>Make A Donation</h2>
      <p>Please scan the QR code and indicate <strong>diliyouth</strong> as your reference when donating</p>
      <p>Your donations will be directed towards:</p>
      <ul>
        <li>Improving the infrastructure of Cocoon to protect against flooding, as well as provide a safe and conducive place for children and youths to learn.</li>
        <li>Blessing the children with gifts such as snacks, clothes, toys and stationery.</li>
      </ul>
      <p>Thank you for your love and support!</p>
    </div>
  </section>
  
                                
                                